* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #fdfdfd;
  --yellow: #dda704;
  --black: #0c0c0c;
  --border: #e0e0e0;
  --placeHolder: #676767;
}

/* .open-sans-<uniquifier> {
  
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  } */

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(./font/OpenSans-VariableFont_wdth\wght.ttf);
}

body {
  background-color: var(--black);
  font-size: 62.5%;
  font-family: "Open Sans";
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  color: var(--white);
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* filter: blur(10px); */
  backdrop-filter: blur(5px);
}
b {
  color: var(--yellow);
}

p {
  font-size: 1.2rem;
  text-align: center;
}
h1 {
  font-size: 2rem;
  text-wrap: wrap;
  padding: 1rem 0;
  text-align: center;
}

.greenImg {
  width: 16rem;
  /* height: 21vh; */
}
.greenImg img {
  width: 100%;
  height: 100%;
}

.leftImg,
.rightImg {
  width: 10vw;
}
.cloneCont img {
  width: 100%;
}

.cloneCont {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 640px) {
  body {
    /* background-color: red; */
    background-image: url(./img/Desktop\ background\ image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .container {
    width: 100%;
    height: 100vh;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 100vh;
    padding: 6rem;
  }
}

@media screen and (min-width: 768px) {
  body {
  }
}

@media screen and (min-width: 1024px) {
  body {
  }

  .overlay {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* flex: 1 1 20rem; */
    gap: 2rem;
    padding: 7rem 2rem;
  }

  main {
    padding: 4rem;
    display: flex;
  }
  p {
    padding: 0 8rem;
  }
  .cloneCont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: -10rem;
  }
}

@media screen and (min-width: 1280px) {
  body {
  }
}

@media screen and (min-width: 1536px) {
  body {
  }

  .container {
    padding: 0.1rem 2rem;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 90vh;
    padding: 8rem 14rem;
    gap: 8rem;
  }
  section {
    width: 50vw;
    height: 120%;
  }
}
