* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  height: 7rem;
  position: fixed;
  width: 100%;
  padding: 0 2rem;
}

nav img {
  width: 80px;
}

.list {
  display: flex;
  list-style: none;
}

li a {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 2rem;
  color: rgba(255, 255, 255, 0.6);
}

.ore {
  color: rgb(221, 167, 4);
}

#bells {
  font-size: 2.5rem;
  margin: 2.5rem;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons img {
  width: 32px;
  height: 32px;
  margin: 2.5rem;
}

.hero {
  background-image: url("Images/Hero\ Image\ desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 70rem;
}

.car {
  padding-top: 10rem;
  text-align: center;
  width: 100%;
}

.world {
  display: block;
}

.man {
  text-align: center;
  color: white;
  padding-top: 8rem;
}

.jump {
  font-size: 4.778rem;
  margin-bottom: 2.4rem;
}

.sign {
  color: rgb(221, 167, 4);
}

.fuel {
  font-size: 1.92rem;
  margin-bottom: 4rem;
}

.search1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.share {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#search {
  font-size: 1.6rem;
  border: 0.2rem solid black;
  width: 75rem;
  height: 5rem;
  background-color: black;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 0.8rem;
  margin-right: 1.2rem;
  text-align: center;
}

.pro {
  font-size: 1.5rem;
}

#maad {
  font-size: 1.5rem;
  color: white;
  background-color: rgb(221, 167, 4);
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
  border: none;
}

.discover {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.discover a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.cover {
  background-color: rgb(12, 12, 12);
  color: white;
}

.disc a {
  color: white;
  background-color: rgb(221, 167, 4);
  padding: 1.5rem 4rem;
  border-radius: 0.2rem;
}

.menu {
  width: 100%;
  max-width: 29rem;
}

.container1,
.container2,
.container3,
.container4,
.container5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
}

.container1 {
  padding-top: 10rem;
}

.container5 {
  padding-bottom: 10rem;
}

.container1 img,
.container2 img,
.container3 img,
.container4 img,
.container5 img {
  width: 100%;
  max-width: 29rem;
  height: auto;
}

footer {
  background-color: rgb(27, 27, 27);
  color: rgba(255, 255, 255, 0.6);
  padding: 4rem 2rem;
}

.spot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spot img {
  width: 100%;
  max-width: 30rem;
}

.below {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.below a {
  text-decoration: none;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
}

.social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
  margin-bottom: 8rem;
  flex-wrap: wrap;
}

.lize,
.stay {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
}

.follow,
.news {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

#s-media {
  font-size: 2rem;
  color: white;
  background-color: rgb(221, 167, 4);
  padding: 1.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.tips {
  display: block;
}

#email {
  width: 100%;
  max-width: 27rem;
  height: 5rem;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  background-color: black;
  padding-left: 2rem;
  border: 0.2rem solid rgb(221, 167, 4);
}

#mit {
  width: 11rem;
  height: 5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: rgb(221, 167, 4);
  color: white;
  font-size: 1.6rem;
}

.last-list1 ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 2rem 0;
  margin-bottom: 2.4rem;
}
.last-list1 li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
}
.last-list2 {
  font-size: 1.6rem;
  text-align: center;
  background-color: black;
  padding: 2rem 0;
}

#mit:hover {
  background: none;
  border: 0.2rem solid rgb(221, 167, 4);
  cursor: pointer;
}
.yellow:hover {
  background: none;
  border: 0.2rem solid rgb(221, 167, 4);
  cursor: pointer;
}

.blank:hover {
  background-color: rgb(221, 167, 4);
  color: white;
}

#s-media:hover {
  background: none;
  border: 0.2rem solid rgb(221, 167, 4);
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }

  .discover {
    gap: 6rem;
  }

  .social {
    gap: 5rem;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 60%;
  }

  #search {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 50rem;
  }

  .list {
    display: none;
  }

  .below {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8rem;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
  }

  .jump {
    font-size: 3.5rem;
  }

  .graph,
  .ui {
    display: none;
  }

  .social {
    gap: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 8rem;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  #search {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 50rem;
  }

  .discover {
    gap: 3rem;
  }

  .below {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 8rem;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
  }

  .social {
    gap: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 8rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 51%;
  }
  .nav-icons img {
    margin: 1rem;
  }

  #search {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 27rem;
  }

  #maad {
    padding: 1.5rem 0.5rem;
  }

  #bells {
    margin: 1rem;
  }

  li a {
    margin: 1rem;
  }

  .jump {
    font-size: 3rem;
  }

  .below {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 8rem;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
  }

  #mit {
    width: 27rem;
    height: 5rem;
    margin-top: 1.5rem;
  }

  .last-list1 ul {
    flex-direction: column;
  }

  .last-list1 li {
    margin-top: 1.6rem;
  }
}
