body {
}

:root {
  --white: #fdfdfd;
  --yellow: #dda704;
  --black: #0c0c0c;
  --border: #e0e0e0;
  --placeHolder: #676767;
  --grey: #8b8b8b;
  --backGroundGray: #434343;
  --veryDarkGrey: #1b1b1b;
  --greyFont: #d3d3d3;
  --borderYello: #ffe9a7;
  --lightGrey: #d3d3d3;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
}

.post {
  width: 98rem;
  height: 45.9rem;
}

.posts .top {
  justify-content: start;
  width: 79.6rem;
  align-self: center;
}
.posts .mid {
  width: 79.6rem;
}

/* .posts .top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 2rem;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 1rem;
  width: 100%;
} */
main .posts {
  gap: 1.6rem;
  width: 96rem;
}
.posts .mid .postImgCont {
  width: 79.6rem;
  height: 88rem;
  align-self: center;
}

footer {
  height: 64rem;
}

footer .firstFooter .uls {
  flex-direction: row;
}
footer .secondFooter {
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  padding: 0 0;
}
footer .secondFooter .secondFooterright {
  width: 42rem;
  gap: 3rem;
}
footer .fourthFooter {
  display: none;
}
