* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
:root {
  --white: #fdfdfd;
  --yellow: #dda704;
  --black: #0c0c0c;
  --border: #e0e0e0;
  --placeHolder: #676767;
  --grey: #8b8b8b;
  --backGroundGray: #434343;
  --veryDarkGrey: #1b1b1b;
  --greyFont: #d3d3d3;
  --borderYello: #ffe9a7;
  --lightGrey: #d3d3d3;
  --hover: #c79604;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--black);
  font-family: "Open Sans";
}
header {
  background-image: url(./img/Right\ Section\ Image.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 4rem;
  padding: 18.8rem 1.6rem 3.88rem 1.6rem;
}
.overlay {
  width: 100%;
  height: 60.1rem;
  background-color: rgba(0, 0, 0, 0.747);
  position: absolute;
  top: 0;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: var(--hover);
}
b {
  color: var(--yellow);
}
a:hover {
  color: var(--yellow);
}
/* a: {
  color: var(--yellow);
} */
.sub a:hover {
  color: var(--white);
}
a {
  text-decoration: none;
}
.Communities {
  color: var(--yellow);
}

.btn a:hover {
  background-color: var(--hover);
}
.sub {
  border: none;
}
.sub:hover {
  color: white;
  background-color: var(--hover);
}
.sub a:hover {
  color: white;
}
.icons a:hover {
  background-color: var(--black);
}
.icons span {
  cursor: pointer;
}
.load {
  border: none;
}
nav {
  display: flex;
  width: 100%;
  height: 4.8rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 0 1.6rem 0 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
nav i {
  color: var(--white);
}
nav ul {
  display: none;
}

nav .hamNlogo,
nav .bellNsearch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 14.4rem;
}
nav .bellNsearch {
  width: 22vw;
  display: flex;
  gap: 1.5rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26rem;
  height: 4rem;
  gap: 2rem;
  display: none;
}
.links a {
  width: 12rem;
  height: 4rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.333rem;
  border-radius: 0.8rem;
}

.links .sign {
  background-color: var(--yellow);
  color: var(--white);
}
.links .login {
  /* background-color: var(--yellow); */
  border: var(--yellow) 1px solid;
  color: var(--yellow);
}

.ham {
  font-size: 3.2rem;
}
.logo {
  width: 5.2rem;
  height: 3.6rem;
}
.bell {
  font-size: 2.4rem;
}
.search {
  font-size: 2.4rem;
}
.logo img {
  width: 100%;
  height: 100%;
}

.TopRightIcon {
  /* display: none; */
}

.writeUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 34.3rem;
  gap: 1.6rem;
  /* margin-top: 20rem; */
  z-index: 1;
}
.writeUp h1 {
  color: var(--white);
  font-size: 2.765rem;
  line-height: 3.5rem;
}
.writeUp p {
  font-size: 1.6rem;
  color: var(--white);
  line-height: 2.4rem;
}

.input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 34.4rem;
  height: 6.4rem;
  z-index: 2;
  border-radius: 2.4rem;
  background-color: var(--veryDarkGrey);
}
.input img {
  width: 4rem;
  height: 4rem;
}
.input input {
  width: 26.7rem;
  height: 4rem;
  border-radius: 1.2rem;
  background: none;
  border: 1px solid var(--borderYello);
  padding-left: 1rem;
  color: var(--white);
}
.input input::placeholder {
  color: var(--greyFont);
}

main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.4rem;
  gap: 4.3rem;
}
.topLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  gap: 4rem;
}
.topLinks ul {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 35.9rem;
  height: 4.6rem;
  border: 1px;

  /* gap: 4rem; */
}
.topLinks li,
.topLinks a {
  /* width: 11.9rem; */
  height: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  padding: 2rem;
  border-radius: 0.4rem;
}
.topLinks a:hover {
  background-color: var(--yellow);
  color: var(--white);
}

.whats {
  background-color: var(--yellow);
}
.whats a {
  color: var(--white);
}

.searchInp {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 34.3rem;
  height: 4.8rem;
  gap: 2rem;
  border: 1px solid var(--backGroundGray);
  border-radius: 0.6rem;
  padding-left: 2rem;
  color: var(--backGroundGray);
  font-size: 2rem;
}
.searchInp input {
  background: none;
  border: none;
  color: white;
  width: 80%;
  height: 60%;
  padding-left: 1rem;
}

main .posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin-top: 6rem;
  width: 37.5rem;
  padding: 2.4rem 1.6rem;
  border-radius: 1.2rem;
  background-color: var(--backGroundGray);
}

.posts .top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 2rem;
  align-self: flex-start;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 1rem;
  width: 100%;
}

.posts .top img {
  width: 6rem;
  height: 6rem;
}

.posts .top .taye {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
  font-size: 1.6rem;
}
.posts .top .taye p {
  display: flex;
  gap: 1rem;
}
.posts .top .taye span {
  color: var(--greyFont);
  font-size: 1.333rem;
}
.posts .top .taye .feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.posts .top .taye .feedback p {
  color: var(--borderYello);
  font-size: 1.333rem;
}

.posts .top .taye .feedback span {
  columns: var(--greyFont);
  font-size: 1.333rem;
}

.posts .mid {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.6rem;
  width: 34.3rem;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 1rem;
}

.posts .mid h3 {
  font-size: 1.333rem;
  color: var(--white);
}
.posts .mid p {
  font-size: 1.333rem;
  color: var(--grey);
}

.posts .mid .postImgCont {
  width: 34.3rem;
  height: 32rem;
}
.posts .mid .postImgCont img {
  width: 100%;
  height: 100%;
}

.posts .mid .postImgCont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17.1rem;
  width: 34.3rem;
}

.posts .mid .postImgCont2 img {
  width: 50%;
  height: 100%;
}

.mid .icons1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  align-self: flex-end;
  gap: 2rem;
  font-size: 1.6rem;
}
.mid .icons1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
}

.posts .lower {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 100%;
  gap: 2rem;
}

.posts .lower span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  gap: 1rem;
}
.load {
  width: 13.1rem;
  height: 5.6rem;
  background-color: var(--yellow);
  color: var(--white);
  border-radius: 0.8rem;
}

footer {
  width: 100vw;
  height: 168.4rem;
  background-color: var(--veryDarkGrey);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 8rem;
  line-height: 2.5rem;
  margin-top: 20rem;
  padding-top: 2rem;
}
footer .firstFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 37.5rem;
  gap: 8rem;
  padding: 0 2rem;
}
footer .firstFooter .logoCont {
  width: 100%;
  height: 20rem;
}
footer .firstFooter .logoCont img {
  width: 100%;
  height: 100%;
}
footer .firstFooter .uls {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 6rem;
}
footer h5 {
  color: var(--greyFont);
  font-size: 2.304rem;
}
footer .firstFooter .uls li,
a {
  color: var(--grey);
  font-size: 1.6rem;
  list-style: none;
}

footer .firstFooter .uls .ul1,
.ul2 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}
footer .secondFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 37.5rem;
  padding: 0 2rem;
  gap: 8rem;
}
footer p {
  font-size: 1.6rem;
  color: var(--grey);
}
footer .secondFooter .secondFooterLeft {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
footer .secondFooter .icons {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 3rem;
  gap: 1.625rem;
  color: var(--white);
}
footer .secondFooter .icons span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}
footer .secondFooter .icons span i {
  font-size: 1.5rem;
}

footer .secondFooter .secondFooterright {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2.4rem;
}

footer form input {
  width: 100%;
  border: 1px solid var(--yellow);
  background: none;
  height: 4.8rem;
  padding-left: 1.2rem;
  border-radius: 0.8rem;
  background-color: var(--black);
}

footer form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  gap: 2rem;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--yellow);
  border-radius: 0.8rem;
}
footer form button a {
  color: var(--white);
}
footer form .button a {
  width: 100%;
}

footer .thirdFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 31.6rem;
  text-align: center;
  background-color: var(--black);
}
footer .thirdFooter ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
footer .thirdFooter a {
}
footer .thirdFooter li,
.thirdFooter a {
  list-style: none;
  padding: 1rem 0.8rem;
  font-size: 1.6rem;
}

footer .fourthFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7.2rem;
  text-align: center;
  background-color: var(--black);
  color: var(--grey);
  font-size: 1.6rem;
}
